<body>
    <nav class="navbar navbar-light ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                aria-controls="sidebar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel"
        style="background-color: #2B546A;">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
        </div>
        <div class="offcanvas-body">
            <!-- Aquí coloca el contenido del menú -->
            <img src="assets/imagenes/usuario.png" alt="" class="img-fluid w-25 mx-auto d-block mb-5">

            <ul>
                <li>
                    <h3 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset " [routerLink]="['/home']">
                            <p style="color: white;">Inicio</p>
                        </a>
                    </h3>
                </li>

                <li>
                    <h3 class=" mb-5"><a href="" class="text-decoration-none text-reset ">
                            <p style="color: white;">Cerrar Sesión</p>
                        </a></h3>
                </li>

            </ul>
        </div>
    </div>

    <div class="container justify-content-center">

        <div class="container">
            <div class="row justify-content-end">
                <div class="col-auto">
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" id="notificationsDropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/imagenes/campana.png" alt="Ícono de campana"
                                style="width: 40px; height: 40px;">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationsDropdown">
                            <a class="dropdown-item" href="#">
                                <h6>Ejemplo de notificación</h6>
                                <p>Esta es una notificación de ejemplo.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-3">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="contactos-tab" data-toggle="tab"
                                href="#contactos">Contactos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats">Chats Activos</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3">
                        <div class="tab-pane fade show active" id="contactos">
                            <ul class="list-group">
                                <li class="list-group-item">Contacto 1</li>
                                <li class="list-group-item">Contacto 2</li>
                                <li class="list-group-item">Contacto 3</li>
                                <!-- Agrega más elementos aquí -->
                                <li class="list-group-item">Contacto 4</li>
                                <li class="list-group-item">Contacto 5</li>
                                <li class="list-group-item">Contacto 6</li>
                                <li class="list-group-item">Contacto 7</li>
                                <li class="list-group-item">Contacto 8</li>
                                <li class="list-group-item">Contacto 9</li>
                                <li class="list-group-item">Contacto 10</li>
                            </ul>
                            <button class="btn btn-primary mt-3" style="background-color: #13293D;">Crear mensaje grupal</button>
                        </div>
                        <div class="tab-pane fade" id="chats">
                            <ul class="list-group">
                                <li class="list-group-item">Chat 1</li>
                                <li class="list-group-item">Chat 2</li>
                                <li class="list-group-item">Chat 3</li>
                                <!-- Agrega más elementos aquí -->
                                <li class="list-group-item">Chat 4</li>
                                <li class="list-group-item">Chat 5</li>
                                <li class="list-group-item">Chat 6</li>
                                <li class="list-group-item">Chat 7</li>
                                <li class="list-group-item">Chat 8</li>
                                <li class="list-group-item">Chat 9</li>
                                <li class="list-group-item">Chat 10</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="row">
                        <h3 class="col" >Chat actual</h3>
                        <button class="btn btn-primary mt-3 col" style="background-color: #13293D;">Añadir Participantes</button>
                    </div>
                    
                    <div class="chat-container">
                        <div class="message">
                            <span class="sender">Juan:</span> Hola, ¿cómo estás?
                        </div>
                        <div class="message sender">
                            <span class="sender">María:</span> ¡Hola! Estoy bien, gracias. ¿Y tú?
                        </div>
                        <!-- Ejemplo de más mensajes -->
                        <div class="message">
                            <span class="sender">Juan:</span> Bien, gracias. ¿Quieres salir esta tarde?
                        </div>
                        <div class="message sender">
                            <span class="sender">María:</span> ¡Claro! ¿A qué hora nos vemos?
                        </div>
                    </div>
                    <form id="messageForm" class="mt-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Escribe tu mensaje..." required>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" style="background-color: #13293D;">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
</body>