<body>
    <nav class="navbar navbar-light ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                aria-controls="sidebar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel"
        style="background-color: #2B546A;">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
        </div>
        <div class="offcanvas-body">
            <!-- Aquí coloca el contenido del menú -->
            <img src="assets/imagenes/usuario.png" alt="" class="img-fluid w-25 mx-auto d-block mb-5">

            <ul>
                <li>
                    <h5 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset " [routerLink]="['/home-profesores']">
                            <p style="color: white;">Profesores</p>
                        </a>
                    </h5>
                </li>

                <li>
                    <h5 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset " [routerLink]="['/home-estudiantes']">
                            <p style="color: white;">Estudiantes</p>
                        </a>
                    </h5>
                </li>

                <li>
                    <h5 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset " [routerLink]="['/home-equipo-guia']">
                            <p style="color: white;">Equipo Guía</p>
                        </a>
                    </h5>
                </li>

                <li class="mt-5">
                    <h5 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset ">
                            <p style="color: white;">Cerrar Sesión</p>
                        </a>
                    </h5>
                </li>

            </ul>
        </div>
    </div>


    <section class="mb-4 mt-4">
        <div class="container">


            <div class="d-flex align-items-center pb-1 " >
                <a href="" class="text-decoration-none text-reset" [routerLink]="['/home-plan-de-trabajo']">
                    <img src="assets/imagenes/regresar.png" alt="">
                    <span class="h5 fw-bold ml-3">REGRESAR</span>
                </a>
            </div>

            <div class="col mt-5">
                    <div class="row">

                        <div *ngIf="tipoDeUsuario == 'Profesor'" class="col">
                            <button type="" class="btn text-white me-2 "
                                style="background-color: #13293D;"><a href="" class="text-decoration-none text-reset" [routerLink]="['/crear-actividad-plan-de-trabajo']">Crear Actividad </a></button>
                        </div>

                    </div>
            </div>

            <section class="mb-4">
                <div class="container mt-4">

                    <div *ngFor="let actividad of actividades" class="card mb-4">
                        <h5 class="card-header" style="background-color: #E2EFF8;">
                            Actividad: {{actividad.getNombre()}}
                        </h5>
                        <div class="card-body">
                            <h4 class="card-title">
                                Tipo: {{actividad.getTipo()}}
                            </h4>
                            <div class="card-text">
                                Semana: {{actividad.getSemana()}} &nbsp;&nbsp;&nbsp;
                                {{actividad.getFechaHora()}}
                            </div>
                            <a href="" class="btn btn-outline-secondary mt-2"
                            [style.background-color]="actividadSeleccionada.includes(actividad) ? '#ADD8E6' : '#13293D'"
                            (click)="guardarActividad(actividad)" 
                                [routerLink]="['/ver-actividades-plan-de-trabajo']">Ver
                                más detalles</a>
                        </div>
                    </div>

                    

                </div>
            </section>

        </div>
    </section>

</body>