<body>
    <nav class="navbar navbar-light ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                aria-controls="sidebar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel"
        style="background-color: #2B546A;">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
        </div>
        <div class="offcanvas-body">
            <!-- Aquí coloca el contenido del menú -->
            <img src="assets/imagenes/usuario.png" alt="" class="img-fluid w-25 mx-auto d-block mb-5">

            <ul>
                <li>
                    <h5 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset " [routerLink]="['/home-profesores']">
                            <p style="color: white;">Profesores</p>
                        </a>
                    </h5>
                </li>

                <li>
                    <h5 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset " [routerLink]="['/home-estudiantes']">
                            <p style="color: white;">Estudiantes</p>
                        </a>
                    </h5>
                </li>

                <li>
                    <h5 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset " [routerLink]="['/home-equipo-guia']">
                            <p style="color: white;">Equipo Guía</p>
                        </a>
                    </h5>
                </li>

                <li class="mt-5">
                    <h5 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset ">
                            <p style="color: white;">Cerrar Sesión</p>
                        </a>
                    </h5>
                </li>

            </ul>
        </div>
    </div>


    <section class="mb-4 mt-4">

        <div class="dropdown" style="position: absolute; top: 10px; right: 10px;">
            <button class="btn btn-link dropdown-toggle" type="button" id="notificationsDropdown"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets/imagenes/campana.png" alt="Ícono de campana" style="width: 40px; height: 40px;">
            </button>
            <ul class="dropdown-menu" aria-labelledby="notificationsDropdown">
                <li>
                    <a class="dropdown-item" href="#">
                        <h6>Ejemplo de notificación</h6>
                        <p>Esta es una notificación de ejemplo.</p>
                    </a>
                </li>
            </ul>
        </div>

        <div class="container">


            <div class="d-flex align-items-center pb-1 ">
                <a href="" class="text-decoration-none text-reset" [routerLink]="['/home-plan-de-trabajo']">
                    <img src="assets/imagenes/regresar.png" alt="">
                    <span class="h5 fw-bold ml-3">REGRESAR</span>
                </a>
            </div>

            <div class="col mt-5">
                <div class="row">

                    <div *ngIf="tipoDeUsuario == 'Coordinador'" class="col">
                        <button type="" class="btn text-white me-2 " style="background-color: #13293D;"><a href=""
                                class="text-decoration-none text-reset"
                                [routerLink]="['/crear-actividad-plan-de-trabajo']">Crear Actividad </a></button>
                    </div>


                    <div class="col">
                        <button type="button" class="btn text-white me-2 " style="background-color: #13293D;"
                            (click)="proximaActividad()">
                            Próxima Actividad
                        </button>
                    </div>

                </div>

            </div>

            <section class="mb-4">
                <div class="container mt-4">
                    <div *ngIf="tipoDeUsuario != 'Estudiante'">
                        <div *ngFor="let actividad of actividades" class="card mb-4">
                            <h5 class="card-header" style="background-color: #E2EFF8;">
                                Actividad: {{actividad.getNombre()}}
                            </h5>
                            <div class="card-body">
                                <h4 class="card-title">
                                    Tipo: {{actividad.getTipo()}}
                                </h4>
                                <div class="card-text">
                                    Semana: {{actividad.getSemana()}} &nbsp;&nbsp;&nbsp;
                                    {{actividad.getFechaHora().toString().replace('T', ' ').substring(0, 19)}}
                                </div>
                                <div class="row">
                                    <a class="btn btn-secondary mt-2 col"
                                        [style.background-color]="actividadSeleccionada.includes(actividad) ? '#ADD8E6' : '#13293D'"
                                        (click)="guardarActividad(actividad)"
                                        [routerLink]="['/ver-actividades-plan-de-trabajo']">Ver
                                        más detalles
                                    </a>
                                    <button class="btn btn-secondary mt-2 col" style="background-color: #13293D;"
                                        (click)="suscribirPersonas(actividad)">
                                        Suscribirme
                                    </button>

                                    <button class="btn btn-secondary mt-2 col" style="background-color: #13293D;"
                                        (click)="desuscribirPersonas(actividad)">
                                        Desuscribirme
                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>



                    <div *ngIf="tipoDeUsuario == 'Estudiante'">
                        <div *ngIf="!saber">
                            <div *ngFor="let actividadPlaneada of actividadesPlaneadas" class="card mb-4">
                                <h5 class="card-header" style="background-color: #E2EFF8;">
                                    Actividad: {{actividadPlaneada.getNombre()}}
                                </h5>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        Tipo: {{actividadPlaneada.getTipo()}}
                                    </h4>
                                    <div class="card-text">
                                        Semana: {{actividadPlaneada.getSemana()}} &nbsp;&nbsp;&nbsp;
                                        {{actividadPlaneada.getFechaHora().toString().replace('T', ' ').substring(0,
                                        19)}}
                                    </div>
                                    <div class="row">
                                        <a class="btn btn-secondary mt-2 col"
                                            [style.background-color]="actividadSeleccionada.includes(actividadPlaneada) ? '#ADD8E6' : '#13293D'"
                                            (click)="guardarActividad(actividadPlaneada)"
                                            [routerLink]="['/ver-actividades-plan-de-trabajo']">Ver
                                            más detalles
                                        </a>
                                        <button class="btn btn-secondary mt-2 col" style="background-color: #13293D;"
                                            (click)="suscribirPersonas(actividadPlaneada)">
                                            Suscribirme
                                        </button>

                                        <button class="btn btn-secondary mt-2 col" style="background-color: #13293D;"
                                            (click)="desuscribirPersonas(actividadPlaneada)">
                                            Desuscribirme
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div *ngIf="saber">
                            <div class="card mb-4">
                                <h5 class="card-header" style="background-color: #E2EFF8;">
                                    Actividad: {{actividadProxima.getNombre()}}
                                </h5>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        Tipo: {{actividadProxima.getTipo()}}
                                    </h4>
                                    <div class="card-text">
                                        Semana: {{actividadProxima.getSemana()}} &nbsp;&nbsp;&nbsp;
                                        {{actividadProxima.getFechaHora().toString().replace('T', ' ').substring(0,
                                        19)}}
                                    </div>
                                    <div class="row">
                                        <a class="btn btn-secondary mt-2 col"
                                            [style.background-color]="actividadSeleccionada.includes(actividadProxima) ? '#ADD8E6' : '#13293D'"
                                            (click)="guardarActividad(actividadProxima)"
                                            [routerLink]="['/ver-actividades-plan-de-trabajo']">Ver
                                            más detalles
                                        </a>
                                        <button class="btn btn-secondary mt-2 col" style="background-color: #13293D;"
                                            (click)="suscribirPersonas(actividadProxima)">
                                            Suscribirme
                                        </button>

                                        <button class="btn btn-secondary mt-2 col" style="background-color: #13293D;"
                                            (click)="desuscribirPersonas(actividadProxima)">
                                            Desuscribirme
                                        </button>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </section>

        </div>
    </section>

</body>