<body>
    <nav class="navbar navbar-light ">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel" style="background-color: #2B546A;">
      <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
      </div>
      <div class="offcanvas-body" >
        <!-- Aquí coloca el contenido del menú -->
        <img src="assets/imagenes/usuario.png" alt="" class="img-fluid w-25 mx-auto d-block mb-5"  >
  
        <ul>
          <li>
            <h3 class=" mb-5"><a href="" class="text-decoration-none text-reset " ><p style="color: white;">Cerrar Sesión</p> </a></h3> 
          </li>
        </ul>
      </div>
    </div>
  
    <div class="container">

      <div class="dropdown" style="position: absolute; top: 10px; right: 10px;">
        <button class="btn btn-link dropdown-toggle" type="button" id="notificationsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/imagenes/campana.png" alt="Ícono de campana" style="width: 40px; height: 40px;">
        </button>
        <ul class="dropdown-menu" aria-labelledby="notificationsDropdown">
          <li>
            <a class="dropdown-item" href="#">
              <h6>Ejemplo de notificación</h6>
              <p>Esta es una notificación de ejemplo.</p>
            </a>
          </li>
        </ul>
      </div>
      
        <div  class="d-flex align-items-center pb-1 mb-4 mt-4">
            <a href="" class="text-decoration-none text-reset" [routerLink]="['/home']">
                <img src="assets/imagenes/regresar.png" alt="">
                <span class="h5 fw-bold ml-3">EQUIPO GUÍA</span>
            </a>
        </div>
  
      <div class="row justify-content-center">
  
        <div *ngIf="tipoDeUsuario  == 'Administrativo' " class="col-md-3 rounded-lg" >
          <a href="" class="text-decoration-none text-reset" [routerLink]="['/crear-equipo']">
            <div class="card">
              <div class="card-body rounded" style="background-color: #E2EFF8; height: 400px;" >
                <h4 class="d-flex justify-content-center mt-5 mb-5">Crear Equipo</h4>
                <img src="assets/imagenes/crear equipo.png" alt="" class="img-fluid w-50 mx-auto d-block mb-5">
              </div>
            </div>
          </a>
        </div>
  
        <div *ngIf="tipoDeUsuario  == 'Administrativo' " class="col-md-3 rounded-lg" >
          <a href="" class="text-decoration-none text-reset" [routerLink]="['/registrar-profesor-guia']">
            <div class="card">
              <div class="card-body " style="background-color: #E2EFF8; height: 400px;">
                <h4 class="d-flex justify-content-center mt-5 mb-5">Registrar Profesor</h4>
                <img src="assets/imagenes/profesores.png" alt="" class="img-fluid w-50 mx-auto d-block mb-5">
              </div>
            </div>
          </a>  
        </div>
  
        <div *ngIf="tipoDeUsuario  == 'Administrativo' " class="col-md-3 rounded-lg" >
          <a href="" class="text-decoration-none text-reset" [routerLink]="['/dar-de-baja']">
            <div class="card">
              <div class="card-body" style="background-color: #E2EFF8; height: 400px;">
                <h4 class="d-flex justify-content-center mt-5 mb-5">Dar de Baja</h4>
                <img src="assets/imagenes/dar de baja.png" alt="" class="img-fluid w-50 mx-auto d-block mb-5">
              </div>
            </div>
          </a>
        </div>
  
        <div *ngIf="tipoDeUsuario  == 'Profesor' || tipoDeUsuario  == 'Administrativo' || tipoDeUsuario  == 'Coordinador'" class="col-md-3 " >
          <a href="" class="text-decoration-none text-reset" [routerLink]="['/consultar-equipo']">
            <div class="card">
              <div class="card-body " style="background-color: #E2EFF8; height: 400px;" >
                <h4 class="d-flex justify-content-center mt-5 mb-5">Consultar Equipo</h4>
                <img src="assets/imagenes/equipo guia.png" alt="" class="img-fluid w-50 mx-auto d-block mb-5">
              </div>
            </div>
          </a>
        </div>
  
      </div>
    </div>
  </body>
