<body>
    <nav class="navbar navbar-light ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                aria-controls="sidebar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel"
        style="background-color: #2B546A;">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
        </div>
        <div class="offcanvas-body">
            <!-- Aquí coloca el contenido del menú -->
            <img src="assets/imagenes/usuario.png" alt="" class="img-fluid w-25 mx-auto d-block mb-5">

            <ul>
                <li>
                    <h5 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset " [routerLink]="['/home-plan-de-trabajo']">
                            <p style="color: white;">Plan de Trabajo</p>
                        </a>
                    </h5>
                </li>

                <li>
                    <h5 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset " [routerLink]="['/home-profesores']">
                            <p style="color: white;">Profesores</p>
                        </a>
                    </h5>
                </li>

                <li>
                    <h5 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset " [routerLink]="['/home-estudiantes']">
                            <p style="color: white;">Estudiantes</p>
                        </a>
                    </h5>
                </li>

                <li class="mt-5">
                    <h5 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset ">
                            <p style="color: white;">Cerrar Sesión</p>
                        </a>
                    </h5>
                </li>

            </ul>
        </div>
    </div>

    <div class="container">
        <div class="d-flex align-items-center pb-1 mb-4 mt-4">
            <a href="" class="text-decoration-none text-reset" [routerLink]="['/home-equipo-guia']">
                <img src="assets/imagenes/regresar.png" alt="">
                <span class="h5 fw-bold ml-3">CONSULTAR EQUIPO</span>
            </a>
        </div>

        <div class="col mt-5">
            <form (submit)="filterEquiposGuia(annioFiltrar.value, semestre.value); $event.preventDefault()">
                <div class="row">

                    <div class="col">
                        <select #semestre class="form-select me-2" name="opcion2" id="opcion2">
                            <option  value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>

                    <div class="col">
                        <select #annioFiltrar class="form-select me-2" name="opcion2" id="opcion2" aria-placeholder="año">
                            <option  value="1971">1971</option>
                            <option  value="2022">2022</option>

                        </select>
                    </div>

                    <div class="col">
                        <button type="submit" class="btn text-white me-2" style="background-color: #13293D;">
                            Filtrar
                        </button>

                    </div>

                </div>
            </form>
        </div>

        <div class="card mt-4 mb-4">
            <div class="card-body">
                <!--Aqui se hace un nuevo equipo de trabajo-->
                <div  class="row mb-3 mt-3 text-center">
                    <div *ngFor="let equipoguia of listaEquipo" class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
                        <div class="fw-normal card mt-2 mb-2">
                            <div class="card-body" style="background-color: #E2EFF8;">

                                <h5 class="card-title">{{ equipoguia.getId() }}</h5>
                                <img src="assets/imagenes/usuario.png" alt="" class="img-fluid w-25 mx-auto d-block">

                                <p class="card-text">{{ equipoguia.getCorreoElectronico() }}</p>

                                <p class="card-text">{{ equipoguia.getNombre() + ' ' + equipoguia.getApellido1() }}</p>

                                <button type="submit" class="btn text-white me-2" style="background-color: #13293D;">
                                    Seleccionar
                                </button>

                                <button type="submit" class="btn text-white me-2" style="background-color: #13293D;">
                                    Seleccionar Coordinador
                                </button>

                            </div>

                        </div>

                    </div>

                    <!----------------------------------------------------->
                    
                </div>

            </div>
        </div>

    </div>
</body>
