<body>
    <nav class="navbar navbar-light ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                aria-controls="sidebar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel"
        style="background-color: #2B546A;">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
        </div>
        <div class="offcanvas-body">
            <!-- Aquí coloca el contenido del menú -->
            <img src="assets/imagenes/usuario.png" alt="" class="img-fluid w-25 mx-auto d-block mb-5">

            <ul>
                <li>
                    <h5 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset " [routerLink]="['/home-profesores']">
                            <p style="color: white;">Profesores</p>
                        </a>
                    </h5>
                </li>

                <li>
                    <h5 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset " [routerLink]="['/home-estudiantes']">
                            <p style="color: white;">Estudiantes</p>
                        </a>
                    </h5>
                </li>

                <li>
                    <h5 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset " [routerLink]="['/home-equipo-guia']">
                            <p style="color: white;">Equipo Guía</p>
                        </a>
                    </h5>
                </li>

                <li class="mt-5">
                    <h5 class=" mb-5">
                        <a href="" class="text-decoration-none text-reset ">
                            <p style="color: white;">Cerrar Sesión</p>
                        </a>
                    </h5>
                </li>

            </ul>
        </div>
    </div>


    <section class="mb-4 mt-4">
        <div class="container">
            <div class="d-flex align-items-center pb-1 ">
                <a href="" class="text-decoration-none text-reset" [routerLink]="['/ver-actividades-plan-de-trabajo']">
                    <img src="assets/imagenes/regresar.png" alt="">
                    <span class="h5 fw-bold ml-3">MODIFICAR ACTIVIDAD</span>
                </a>
            </div>
        </div>

        <div class="container py-4">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col col-xl-10">

                    <div class="card" style="border-radius: 1rem;">

                        <form (submit)="actualizarActividad(nombre.value,tipo.value,link.value,estado.value,semana.value,fecha.value,hora.value,fechaPublicacion.value,afiche.value)">
                            <div class="row g-0">

                                <div class="col-md-6 col-lg-6 d-none d-md-block">
                                    <div class="card-body p-4 p-lg-5 text-black">

                                        <div class="form-outline mb-4">
                                            <label class="form-label">Nombre</label>
                                            <input #nombre  type="text" id="name" name="name" required
                                                class="form-control form-control-lg" style="background-color: #E2EFF8;"
                                                value="{{actividadUsar.getNombre()}}" />
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label class="form-label">Tipo de actividad</label>

                                            <input #tipo type="text" id="name" name="name" required
                                                class="form-control form-control-lg" style="background-color: #E2EFF8;"
                                                value="{{actividadUsar.getTipo()}}" />
                                        </div>

                                        <button class="btn btn-outline-secondary me-2" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse_comments"
                                            aria-expanded="false" style="background-color: #13293D; color: white;">
                                            Responsables
                                        </button>

                                        <div class="collapse" id="collapse_comments">
                                            <div class="mt-4"
                                                style="height: 400px; display: block; overflow: auto; position: relative;">

                                                <div *ngFor="let profesor of profes" class="card mb-4">

                                                    <div class="card-header" style="background-color: #E2EFF8;">
                                                        {{profesor.getNombre()}}
                                                    </div>
                                                    <div class="card-footer text-muted"
                                                        style="background-color: #E2EFF8;">
                                                        <button class="btn text-white me-2"
                                                            [style.background-color]="profesoresSeleccionados.includes(profesor) ? '#ADD8E6' : '#13293D'"
                                                            (click)="seleccionarProfesores(profesor)">
                                                            Seleccionar
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-outline mb-4">
                                            <div id="id_type_input"></div>
                                        </div>

                                        <div class="btn-group">
                                            <button #remoto class="btn btn-dark btn-lg ml-4" value="remoto"
                                                [style.background-color]="remotoSelected ? '#ADD8E6' : '#13293D'"
                                                (click)="selectRemoto()">
                                                Remoto
                                            </button>

                                            <div class="form-outline mb-5 ml-3">
                                                <div id=""></div>
                                            </div>

                                            <button #presencial class="btn btn-dark btn-lg ml-4" value="presencial"
                                                [style.background-color]="presencialSelected ? '#ADD8E6' : '#13293D'"
                                                (click)="selectPresencial()">
                                                Presencial
                                            </button>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <div id=""></div>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label">Enlace</label>
                                            <input #link type="text" id="" name="" required
                                                class="form-control form-control-lg" style="background-color: #E2EFF8;"
                                                value="{{actividadUsar.getLink()}}" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label">Estado</label>
                                            <input #estado type="text" id="name" name="name" required
                                                class="form-control form-control-lg" style="background-color: #E2EFF8;"
                                                value="{{actividadUsar.getEstado()}}" />
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 d-flex align-items-center">
                                    <div class="card-body p-4 p-lg-5 text-black">
                                        <label class="form-label">Semana</label>
                                        <input #semana type="text" id="name" name="name" required
                                                class="form-control form-control-lg" style="background-color: #E2EFF8;"
                                                value="{{actividadUsar.getSemana()}}" />

                                        <div class="form-outline mb-4">
                                            <div id=""></div>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label">Fecha</label>
                                            <input #fecha type="date" id="" name="" required
                                                class="form-control form-control-lg"
                                                style="background-color: #E2EFF8;" [value]="fechaUsar"/>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label">Hora</label>
                                            <input #hora type="time" id="hora" name="hora"
                                                class="form-control form-control-lg" required
                                                style="background-color: #E2EFF8;">
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label">Fecha de publicación</label>
                                            <input #fechaPublicacion type="date" id="" name="" required
                                                class="form-control form-control-lg"
                                                style="background-color: #E2EFF8;" value="{{actividadUsar.getFechaAPublicar()}}" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label">Subir afiche</label>
                                            <input #afiche type="file" id="" name="" accept=".jpg,.png"
                                                class="form-control form-control-lg" required
                                                style="background-color: #E2EFF8;" value="{{actividadUsar.getAfiche()}}"/>
                                        </div>


                                        <div class="btn-group">

                                            <div class="pt-1 mb-4 me-4">
                                                <button class="btn btn-dark btn-lg btn-block" type="submit"
                                                    style="background-color: #13293D;">Registrar actividad</button>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </section>

</body>