<body>
  <nav class="navbar navbar-light ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
        aria-controls="sidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel"
    style="background-color: #2B546A;">
    <div class="offcanvas-header">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
    </div>
    <div class="offcanvas-body">
      <!-- Aquí coloca el contenido del menú -->
      <img src="assets/imagenes/usuario.png" alt="" class="img-fluid w-25 mx-auto d-block mb-5">

      <ul>

        <li *ngIf="tipoDeUsuario == 'Estudiante'">
          <h3 class=" mb-5">
            <a href="" class="text-decoration-none text-reset " [routerLink]="['/estudiante-editar']">
              <p style="color: white;">Editar Perfil</p>
            </a>
          </h3>
        </li>

        <li>
          <h3 class=" mb-5"><a href="" class="text-decoration-none text-reset ">
              <p style="color: white;">Cerrar Sesión</p>
            </a></h3>
        </li>

      </ul>
    </div>
  </div>

  <div class="container justify-content-center">

    <div class="container">
      <div class="row justify-content-end">
        <div class="col-auto ml-auto">
          <button class="btn btn-link position-relative" [routerLink]="['/mensajes']">
            <i class="bi bi-envelope display-4" style="color: black; font-size: 40px;"></i>

            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0</span>

          </button>
        </div>
        <div class="col-auto">
          <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="notificationsDropdown" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="assets/imagenes/campana.png" alt="Ícono de campana" style="width: 40px; height: 40px;">
            </button>


            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationsDropdown">

              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" id="pestaña1-tab" data-bs-toggle="tab" href="#pestaña1" role="tab"
                    aria-controls="pestaña1" aria-selected="true">Notificaciones

                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pestaña2-tab" data-bs-toggle="tab" href="#pestaña2" role="tab"
                    aria-controls="pestaña2" aria-selected="false">Leídas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pestaña3-tab" data-bs-toggle="tab" href="#pestaña3" role="tab"
                    aria-controls="pestaña3" aria-selected="false">No leídas</a>
                </li>
              </ul>
              Eliminar todas las notificaciones
              <button class="btn btn-link text-danger ms-auto">
                <i class="bi bi-trash"></i>
              </button>

              <div class="tab-content overflow-auto" style="max-height: 400px; background-color: #E2EFF8;;">


                <div *ngFor="let notificacion of notificaciones">
                  <div class="tab-pane fade show active" id="pestaña1" role="tabpanel" aria-labelledby="pestaña1-tab">
                    <div class="dropdown-item d-flex align-items-center">
                      <div>
                        <h6>{{notificacion.getIdEmisor()}}</h6>
                        <p>{{notificacion.getContenido()}}</p>
                        {{notificacion.getFechaHora().toString().replace('T', ' ').substring(0,19)}}
                        <button class="btn text-white text-center"
                          style="background-color: #13293D; width: 120px; height: 30px;font-size: 0.75rem;">
                          Ver más detalles
                        </button>
                        <button class="btn btn-link text-danger ms-auto" type="button"  >
                          <i class="bi bi-trash"></i>
                        </button>
                      </div>

                    </div>
                  </div>
                </div>


                <div *ngFor="let notificacionleida of notificacionesleidas">
                  <div class="tab-pane fade" id="pestaña2" role="tabpanel" aria-labelledby="pestaña2-tab">
                    <div class="dropdown-item d-flex align-items-center">
                      <div>
                        <h6>{{notificacionleida.getIdEmisor()}}</h6>
                        <p>{{notificacionleida.getContenido()}}</p>
                        {{notificacionleida.getFechaHora().toString().replace('T', ' ').substring(0,19)}}
                        <button class="btn text-white text-center"
                          style="background-color: #13293D; width: 120px; height: 30px;font-size: 0.75rem;">
                          Ver más detalles
                        </button>
                        <button class="btn btn-link text-danger ms-auto" type="button"  >
                          <i class="bi bi-trash"></i>
                        </button>
                      </div>

                    </div>
                  </div>
                </div>



                <div *ngFor="let notificacionNoLeida of notificacionesNoLeidas">
                  <div class="tab-pane fade" id="pestaña3" role="tabpanel" aria-labelledby="pestaña3-tab">
                    <div class="dropdown-item d-flex align-items-center">
                      <div>
                        <h6>{{notificacionNoLeida.getIdEmisor()}}</h6>
                        <p>{{notificacionNoLeida.getContenido()}}</p>
                        {{notificacionNoLeida.getFechaHora().toString().replace('T', ' ').substring(0,19)}}
                        <button class="btn text-white text-center"
                          style="background-color: #13293D; width: 120px; height: 30px;font-size: 0.75rem;">
                          Ver más detalles
                        </button>
                        <button class="btn btn-link text-danger ms-auto" type="button"  >
                          <i class="bi bi-trash"></i>
                        </button>
                      </div>

                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h1 class="d-flex justify-content-center mb-5">Te damos la Bienvenida</h1>

    <div class="row justify-content-center">

      <div class=" col-md-3 rounded-lg">
        <a href="" class="text-decoration-none text-reset" [routerLink]="['/home-plan-de-trabajo']">
          <div class="card">
            <div class="card-body rounded" style="background-color: #E2EFF8; height: 400px;">
              <h3 class="d-flex justify-content-center mt-5 mb-5">Plan de trabajo</h3>
              <img src="assets/imagenes/Calendario.png" alt="" class="img-fluid w-50 mx-auto d-block mb-5">
            </div>
          </div>
        </a>
      </div>

      <div *ngIf="tipoDeUsuario != 'Estudiante'" class=" col-md-3 rounded-lg">
        <a href="" class="text-decoration-none text-reset" [routerLink]="['/home-profesores']">
          <div class="card">
            <div class="card-body " style="background-color: #E2EFF8; height: 400px;">
              <h3 class="d-flex justify-content-center mt-5 mb-5">Profesores</h3>
              <img src="assets/imagenes/profesores.png" alt="" class="img-fluid w-50 mx-auto d-block mb-5">
            </div>
          </div>
        </a>
      </div>

      <div *ngIf="tipoDeUsuario != 'Estudiante'" class=" col-md-3 rounded-lg">
        <a href="" class="text-decoration-none text-reset" [routerLink]="['/home-estudiantes']">
          <div class="card">
            <div class="card-body" style="background-color: #E2EFF8; height: 400px;">
              <h3 class="d-flex justify-content-center mt-5 mb-5">Estudiantes</h3>
              <img src="assets/imagenes/estudiantes.png" alt="" class="img-fluid w-50 mx-auto d-block mb-5">
            </div>
          </div>
        </a>
      </div>

      <div *ngIf="tipoDeUsuario != 'Estudiante'" class="col-md-3 ">
        <a href="" class="text-decoration-none text-reset" [routerLink]="['/home-equipo-guia']">
          <div class="card">
            <div class="card-body " style="background-color: #E2EFF8; height: 400px;">
              <h3 class="d-flex justify-content-center mt-5 mb-5">Equipo Guía</h3>
              <img src="assets/imagenes/equipo guia.png" alt="" class="img-fluid w-50 mx-auto d-block mb-5">
            </div>
          </div>
        </a>
      </div>


    </div>
  </div>
</body>