<body>
  <section class="vh-100" style="background-color: #2B546A;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-8">
          <div class="card justify-content-center align-items-center" style="border-radius: 1rem;">


            <div class="col-lg-8 d-flex align-items-center">
              <div class="card-body p-lg-5 text-black">

                <form (submit)="evaluarUsuario(correoUsuario.value,contrasenaInput.value)" method="POST" action="/login">

                  

                  <div class="d-flex justify-content-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">INICIO DE SESIÓN</span>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label fw-bold">Correo electrónico</label>
                    <input #correoUsuario type="email" id="correoUsuario" name="correoUsuario" required class="form-control form-control-lg"
                      style="background-color: #E2EFF8;" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />

                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label fw-bold">Contraseña</label>
                    <div class="input-group">
                      <input #contrasenaInput type="password" id="contraseña" name="contraseña"
                        class="form-control form-control-lg" required style="background-color: #E2EFF8;">
                      <button (click)="verContrasena()" class="btn btn-outline-secondary" type="button">
                        <i [ngClass]="contrasenaInput.type === 'password' ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
                      </button>
                    </div>
                  </div>

                  <div class="mb-4 d-flex justify-content-center">
                    <button class="btn btn-dark btn-lg btn-block" style="background-color: #13293D;" type="submit"
                      [routerLink]="['/home']">INICIAR SESIÓN</button>
                  </div>

                  <a href="/recuperacion.html"
                    class=" text-primary-1000:hover fw-bold d-flex justify-content-center text-decoration-none text-reset"
                    [routerLink]="['/recuperacion']">¿Olvidaste tu contraseña?</a>

                    <app-home *ngIf="mostrarHomeComponent" [correoUsuario]="correoUsuario.value" [contrasenaInput]="contrasenaInput.value"></app-home>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

</body>